@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #fff;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
html {
  --color-background: #131313;
  --color-text: #fff;
}

html.dark {
  --color-background: #ffffff;
  --color-text: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}